<!-- <div class="education-section">
    <div class="degree-section">
        <div class="form-group">
            <label for="school" class="label">School Name:</label>
            <input type="text" id="school" name="school" [(ngModel)]="educationList[0].school" class="input">
        </div>
      
        <div class="form-group">
            <label class="label" for="fieldOfStudy">Field of Study:</label>
            <input type="text" id="fieldOfStudy" name="fieldOfStudy" [(ngModel)]="educationList[0].fieldOfStudy" class="input">
        </div> 

    </div>
    <div  class="degree-section">
      <div class="form-group">

        <label for="degree" class="label">Degree Name:</label>
        <input id="degree" name="degree" [(ngModel)]="educationList[0].degree" type="text" class="input">
        
      </div>
      <div class="date-section">
        <div class="form-group">

          <label for="startDateOfEducation" class="label">Start Date:</label>
          <input type="text" class="input" id="startDateOfEducation" name="startDateOfEducation" [(ngModel)]="educationList[0].startDate">

        </div>
        <div class="form-group">

          <label class="label" for="endDateOfEducation" id="endDateOfEducation" name="endDateOfEducation" [(ngModel)]="educationList[0].endDate">End Date:</label>
          <input type="text" class="input">

        </div>
      </div>
    </div>
  </div> -->
<!-- 
    <div class="input-container">
        <div class="experienceContainer">
            <label for="school">School:</label>
            <input type="text" id="school" name="school" [(ngModel)]="educationList[0].school">

            <label for="degree">Degree:</label>
            <input type="text" id="degree" name="degree" [(ngModel)]="educationList[0].degree">

            <label for="fieldOfStudy">Field of Study:</label>
            <input type="text" id="fieldOfStudy" name="fieldOfStudy" [(ngModel)]="educationList[0].fieldOfStudy">

            <label for="startDateOfEducation">Start:</label>
            <input type="text" id="startDateOfEducation" name="startDateOfEducation" [(ngModel)]="educationList[0].startDate">

            <label for="endDateOfEducation">End:</label>
            <input type="text" id="endDateOfEducation" name="endDateOfEducation" [(ngModel)]="educationList[0].endDate">
            <br>
        </div>
    </div>
  <br> -->